.intro img {
  display: block;
  margin: auto;
  width: 40%;
}

.intro h2 {

  text-shadow: 5px 5px #558ABB;
  text-align: center;
  font-size: 50px
}

.intro p {

  font-weight: bold;
  font-style: italic;
  width: 50%;
  background-color: #558ABB;
  margin: auto;
}
